.noticesty::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    
    left: calc(50% - 20px);
     
}
.title::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #858a8d;
    margin-top: 4px;

    
}
h2{
    color: aqua;
}